.hb-site-footer {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-between;
  padding-inline: 2rem;
  background-color: light-dark(#f2f2f2, #1f1f1f);
  border-block-start: 1px solid var(--pf-t--global--border--color--default);
}

.hb-site-footer__site-name {
  font-weight: 700;
}

.hb-inline-menu-dropdown {
  position: relative;
}

.hb-inline-menu-dropdown__menu {
  position: absolute;
  left: 0;
  z-index: 500;
  box-shadow: var(--pf-t--global--box-shadow--md);
  border-radius: var(--pf-t--global--border--radius--default);
  white-space: nowrap;
}

.hb-inline-menu-dropdown--above .hb-inline-menu-dropdown__menu {
  bottom: 100%;
  margin-bottom: 0.25rem;
}

.hb-demo-card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
}
